/* 主题颜色 */
$primary: #062c6e;
$success: #67c23a;
$warning: #e6a23c;
$error: #f56c6c;

/* 行为相关颜色 */
$border: 1px solid #dedede;
$border-radius: 2px;
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

/* 文字基本颜色 */
$text-color: #0b1527; // 基本色

// font
$font-size-xl: 20px; // 特殊 大字体
$font-size-lg: 18px; // 大标题
$font-size-md: 16px; // 标题
$font-size-sm: 14px; // 正文
$font-size-xs: 12px; // 辅助文字

/* mixin scss  */
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
